<html>
    <body>
        
        <h1>Soniflores e Eventos</h1>
        </br>
        <table>
            <tr>
                <td style="width: 100px">Status:</td>
                <td>$pedido.status.descricao</td>
            </tr>
			<tr>
                <td style="width: 100px">Pedido:</td>
                <td>$pedido.id</td>
            </tr>
            <tr>
                <td>Data:</td>
                <td>$pedido.dataCriacao</td>
            </tr>
			<tr>
                <td>Cliente:</td>
                <td>$pedido.cliente.nome</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>$pedido.cliente.email</td>
            </tr>
            </table>
            
            </br>
            <h2>Entrega</h2>
            
            <table>
            <tr>
                <td style="width: 100px">Data:</td>
                <td>$pedido.dataEntrega</td>
            </tr>
			<tr>
                <td style="width: 100px">Endereco:</td>
                <td>$pedido.enderecoEntrega.logradouro</td>
            </tr>
            <tr>
                <td>Número:</td>
                <td>$pedido.enderecoEntrega.numero</td>
            </tr>
			<tr>
                <td>Bairro:</td>
                <td>$pedido.enderecoEntrega.bairro</td>
            </tr>
            <tr>
                <td>Complemento:</td>
                <td>$pedido.enderecoEntrega.complemento</td>
            </tr>
            <tr>
                <td>Cidade:</td>
                <td>$pedido.enderecoEntrega.cidade - $pedido.enderecoEntrega.uf</td>
            </tr>
            <tr>
                <td>Obs:</td>
                <td>$pedido.observacao</td>
            </tr>
            </table>
            
            
        
        
        <br/>
        <table border="1" cellspacing="0" cellpadding="3">
            <tr>
                <th>Produto</th>
                <th>Valor unitário</th>
                <th>Quantidade</th>
                <th>Valor total</th>
            </tr>
            #foreach ($item in $pedido.itens)
               #if ($item.produto.id)
               <tr>
	                <td>$item.produto.nome</td>
	                <td>$numberTool.format("¤ #0.00", $item.produto.valorUnitario, $locale )</td>
	                <td>$item.quantidade</td>
	                <td>$numberTool.format("¤ #0.00", $item.valorTotal, $locale )</td>
	            </tr>
	            #end
	        #end
        </table>
        <br/>
        
		<table>
            
            <tr>
                <td>Subtotal:</td>
                <td>$numberTool.format("¤ #0.00",$pedido.valorSubtotal, $locale )</td>
            </tr>
			<tr>
                <td>Frente:</td>
                <td>$numberTool.format("¤ #0.00",$pedido.valorFrete, $locale )</td>
            </tr>
            <tr>
                <td>Desconto:</td>
                <td>$numberTool.format("¤ #0.00",$pedido.valorDesconto, $locale )</td>
            </tr>
            <tr>
                <td>Valor total:</td>
                <td>$numberTool.format("¤ #0.00",$pedido.valorTotal, $locale )</td>
            </tr>
        </table>
        
    </body>
</html>
